on:
  push:
    tags: [ '[0-9]+.[0-9]+.[0-9]+' ]
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
          cache: 'gradle'

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v5
        with:
          cache-read-only: false

      - uses: burrunan/gradle-cache-action@v3
        name: Execute Gradle build
        with:
          arguments: build

      - name: Update CHANGELOG
        id: changelog
        uses: requarks/changelog-action@v1
        with:
          token: ${{ github.token }}
          tag: ${{ github.ref_name }}

      - name: Upload bundled jar
        uses: Kir-Antipov/mc-publish@v3.3.0
        with:
          changelog: ${{ steps.changelog.outputs.changes }}
          # Only include this section if you wish to publish
          # your assets on Modrinth.
          modrinth-id: mod-sets
          modrinth-token: ${{ secrets.MODRINTH_TOKEN }}

          # Only include this section if you wish to publish
          # your assets on CurseForge.
          curseforge-id: 000000
          curseforge-token: ${{ secrets.CURSEFORGE_TOKEN }}

          files: |
            build/libs/!(*-@(fabric*|neoforge*|forge*|sources)).jar
            build/libs/*-@(fabric-*|neoforge-*|forge-*|sources).jar

          version: ${{ github.ref_name }}

          loaders: |
            forge
            neoforge
            fabric

          game-versions: |
            1.20.1
            [1.21,)

          game-version-filter: releases

          dependencies: |
            fabric-language-kotlin
            kotlin-for-forge
            preloading-tricks(embedded)
            kinecraft

          java: |
            17
            21

      - name: Commit CHANGELOG.md
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          branch: main
          commit_message: 'docs: update CHANGELOG.md for ${{ github.ref_name }} [skip ci]'
          file_pattern: CHANGELOG.md
